.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    align-items: normal;
    margin: 1%;
}

.grid img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* used to center div in IE */
}